@page "/"

<PageTitle>mattopie.com</PageTitle>

<div class="sections">
    <div class="card">
        <h1 id="name">Matt Opie</h1>
        <h2>Software Engineer</h2>
        <h3><i class="fa-solid fa-sun"></i>Florida / Maine<i class="fa-solid fa-snowflake"></i></h3>
        <div id="bio">
            <div id="business-card">
                <img class="headshot" src="images/headshot-business-card.jpg" alt="Photograph of Matt Opie"/>
            </div>
            <div id="bio-info">
                  <p>I split my time between Florida and Maine. With a degree in electrical engineering, I've dived into the world of software development and found my groove in programming.</p>
                  <p>This website is my space to show off the projects I've been tinkering with and explore some fresh ideas. Join me on this journey through the tech landscape!</p>
            </div>
        </div>
        
    </div>
    <div class="quick-links">
        <div>
            <a href="resume">
                <div class="card" id="resume-link">
                    <h1><span class="fa-solid fa-file icon" aria-hidden="true"></span>Résumé</h1>
                </div>
            </a>
        </div>
        <div>
            <a href="portfolio">
                <div class="card" id="portfolio-link">
                    <h1><span class="fa-solid fa-code icon" aria-hidden="true"></span>Portfolio</h1>
                </div>
            </a>
        </div>
    </div>
</div>