* {
    padding: 0;
}

html {
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit;
}

.icon {
    margin-right: 0.3em;
}

i {
    margin-left: 0.3em;
    margin-right: 0.3em;
}

h1 {
    border-bottom: 3px solid #00314e;
    font-size: calc(0.1em + 4vh);
    transition: all 0.25s linear;
    position: relative;
    padding-left: 3px;
    padding-right: 3px;
    margin-right: 12px;
    margin-left: 12px;
}

    h1:before {
        content: "";
        display: block;
        width: 100%;
        height: 3px;
        background-color: #61ff6e;
        position: absolute;
        left: 0;
        bottom: -3px;
        transform-origin: left;
        transform: scale(0);
        transition: 0.25s linear;
    }

    h1:hover:before {
        transform: scale(1);
    }



.quick-links {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.card {
    display: flex;
    background-color: #FFF;
    border-radius: 0.5em;
    margin: 0.5em 0.5em 1.5em 0.5em;
    box-shadow: 2px 2px 4px rgb(31, 230, 64, 0.8), -1px -1px 5px rgba(0,0,0,0.2);
    min-width: 35vw;
    min-height: 15vh;
    justify-content: center;
    align-items: center;
    z-index: 5;
}

.sections {
}

#resume-link {
}

#portfolio-link {
}

#blog-link {
    display: none;
}

a {
    color: black;
    text-decoration: none;
}

h3 {
    border-bottom: 1px dashed black;
}

#summary-columns {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin: auto;
}


#business-card {
    z-index: 5;
    height: 20vh;
    width: 20vh;
    display: flex;
    align-items: center;
    justify-content: left;
    border-radius: 20px;
    border: 1px solid black;
    margin-bottom: 1em;
    box-shadow: 3px 3px 10px;
}

.headshot {
    width: 103%;
    border: 3px solid black;
    border-radius: 20px;
    margin: 0;
}

#bio {
    justify-content: center;
    display: flex;
    flex-direction: row;
}

#bio-info {
    margin-left: 1.5em;
    width: 40%;
    justify-content: space-around;
    margin-top: 1em;
}
