@page "/portfolio"

<PageTitle>mattopie.com - Portfolio</PageTitle>
<div class="headers">
    <h1>Matt Opie - Portfolio</h1>
</div>

<div class="project-container card">
    <div class="project-title">
        <div><a class="project-link" href="/" target="_blank"><h4>mattopie.com</h4></a><a class="git-link" href="https://www.github.com/matthew-opie/blazor-portfolio-wasm/" target="_blank"><i class="fa-brands fa-github"></i>Github</a></div>
        <img class="project-image" src="/images/website-screenshot.png" alt="Portfolio Screenshot"/>
    </div>

    <div class="project-description">
        <p>A personal website built for experimenting with new ideas.</p>
        <p>
            I chose to use .NET Blazor as development framework because I was interested in using C# for my code-behind instead of a JavaScript variant. I wanted a strongly-typed system with the familiarity of C#.
            I used Github Actions to automatically deploy my static website to AWS S3 every time I created an update to the master branch to simplify my deployment process.
            I used Cloudflare for their free-tier caching and DNS services.
        </p>
    </div>
    <div class="project-tags">
        <div class="tags-label">
            <p>Technologies used:</p>
            <ul class="tag-group">
                <li class="tag">.NET Blazor</li>
                <li class="tag">HTML5</li>
                <li class="tag">CSS3</li>
                <li class="tag">AWS S3 Buckets</li>
                <li class="tag">Github Actions</li>
                <li class="tag">Cloudflare DNS</li>
            </ul>
        </div>
    </div>
</div>


<div class="project-container card">
    <div class="project-title">
        <div><a class="project-link" href="/pomodoro" target="_blank"><h4>Tomato Timer</h4></a></div>
        <img class="project-image" src="/images/pomodoro-screenshot.png" alt="Screenshot of Pomodoro Timer app"/>
    </div>

    <div class="project-description">
        <p>A productivity-focused timer based on the Pomodoro Technique</p>
        <p>
            This was a simple project to create a helpful tool for myself. 
            I wanted to create a timer that would help me focus on my work and keep me from getting distracted. 
            It was an exploration into Blazor actions, service providers, and executing an idea. 
            I included Neumorph-style buttons to add a sense of depth to the UI and wanted to experiment with using HTML5 notifications and the Javascript Vibration API.
            @*I later added task-tracking and persistent local storage to add another layer to the project.*@
        </p>
    </div>
    <div class="project-tags">
        <div class="tags-label">
            <p>Technologies used:</p>
            <ul class="tag-group">
                <li class="tag">.NET Blazor</li>
                <li class="tag">HTML5</li>
                <li class="tag">CSS3</li>
            </ul>
        </div>
    </div>
</div>

