@page "/resume"
<PageTitle>mattopie.com - Résumé</PageTitle>
<div id="resume-title">
    <h1>Matt Opie</h1>
    <h2>Senior Software Engineer (Florida / Maine)</h2>
</div>
<div class="resume-body">
    <div class="resume-quotes resume-section">
        <div id="recommendations" class="resume-subsection">
            <i id="quote-text">"In my time working with Matt, he demonstrated strong technical abilities and a dedicated work ethic. As a member of my team, Matt achieved key results for clients and end users of our software platform in record times. Matt is an extremely friendly and good-hearted person. He would be an asset to any development team."</i>
            <br />
            <div id="quote-attribution">-Nick Pickering, Former Supervisor and Development Lead at <a id="gs-link" href="https://go.greenshades.com/" target="_blank">Greenshades</a></div>
        </div>
    </div>
    <div class="resume-section">
        <div id="resume-summary" class="resume-subsection">
            <h2>Summary</h2>
            <div class="divider"></div>
            <ul>
                <li>Senior Full Stack Software Engineer - Eastern Time Zone</li>
                <li>@YearsOfExperience Years Professional Development Experience (@(YearsOfExperience-2)+ non-internship)</li>
                <li>Open only to 100% remote positions</li>
                <li>Background in Electrical Engineering</li>
            </ul>
        </div>
    </div>
    <div class="resume-section">
        <div id="resume-skills" class="resume-subsection">
            <h3>Skills</h3>
            <div class="divider"></div>
            <div id="all-skills">
                <div id="frontend" class="skills-columns">
                    <div class="skill-section-title">
                        <h5>Frontend Technologies</h5>
                    </div>
                    <ul>
                        <li>Angular</li>
                        <li>Vue.js</li>
                        <li>TypeScript</li>
                        <li>JavaScript</li>
                        <li>HTML5</li>
                        <li>CSS3</li>
                        <li>.NET Blazor</li>
                        <li>ReactJS</li>
                    </ul>
                </div>
                <div id="backend" class="skills-columns">
                    <div class="skill-section-title">
                        <h5>Backend Technologies</h5>
                    </div>
                    <ul>
                        <li>C# / .NET</li>
                        <li>SQL Server</li>
                        <li>Java</li>
                        <li>Python</li>
                        <li>C++</li>
                    </ul>
                </div>
                <div id="devops" class="skills-columns">
                    <div class="skill-section-title">
                        <h5>DevOps Tools</h5>
                    </div>
                    <ul>
                        <li>Azure DevOps</li>
                        <li>AWS (S3 Buckets)</li>
                        <li>Agile methodologies</li>
                        <li>Octopus Deploy</li>
                        <li>Splunk</li>
                        <li>Datadog</li>
                        <li>SolarWinds</li>
                    </ul>
                </div>
                <div id="computer-vision-ml" class="skills-columns">
                    <div class="skill-section-title">
                        <h5>Computer Vision and ML</h5>
                    </div>
                    <ul>
                        <li>OpenCV</li>
                        <li>MATLAB</li>
                        <li>Cognex InSight</li>
                    </ul>
                </div>
                <div id="business-skills" class="skills-columns">
                    <div class="skill-section-title">
                        <h5>Other Skills</h5>
                    </div>
                    <ul>
                        <li>Tableau</li>
                        <li>PLC Programming</li>
                        <li>Linux</li>
                        <li>Embedded Systems</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="resume-section">
        <div id="resume-experience" class="resume-subsection">
            <h3>Experience</h3>
            <div class="divider"></div>
            <div class="experience-row" id="infinity-div">
                <h5 class="title">Consulting Programmer / Analyst</h5>
                <div class="icon-and-dates">
                    <a href="https://www.infinity-software.com/" target="_blank">
                        <img src="images/icons/infinity.jpg" alt="Infinity Software Development" class="company-icon">
                    </a>
                    <div class="company-text">
                        <h6 class="company-name" id="infinity">
                            <a href="https://www.infinity-software.com" target="_blank">Infinity Software Development</a>
                        </h6>
                        <p class="dates">December 2022 - Present (@($"{Math.Round((DateTime.Today - DateTime.Parse("December 5, 2022")).Days / 365.0m, 2):f2}") Years)</p>
                    </div>
                </div>
                <div class="job-description">
                    <ul>
                        <li>Built and maintained full Azure DevOps pipelines for CI/CD.</li>
                        <li>Implemented Agile methodologies within Azure DevOps for efficient work tracking practices.</li>
                        <li>Delivered public-facing API in C#/.NET for integration with external partners.</li>
                        <li>Automated monthly reporting system, reducing required administrative costs by up to 80%.</li>
                        <li>Integrated insurance rating system with external tax calculation engine, reducing liability.</li>
                        <li>Wrote and maintained end to end tests using Cypress.</li>
                        <li>Spearheaded efforts to drive new business by leveraging large language models (LLMs) such as ChatGPT and Llama2 within the company.</li>
                    </ul>
                        
                </div>
            </div>
            <div class="experience-row" id="greenshades-div">
                <h5 class="title">Software Developer II</h5>
                <div class="icon-and-dates">
                    <a href="https://go.greenshades.com/" target="_blank">
                        <img class="company-icon" src="images/icons/greenshades.jfif" alt="Greenshades Software"/>
                    </a>
                    <div class="company-text">
                        <h6 class="company-name" id="greenshades">
                            <a href="https://go.greenshades.com/" target="_blank">Greenshades Software</a>
                        </h6>
                        <p class="dates">November 2021 - December 2022 (1.09 Years)</p>
                    </div>
                </div>
                <div class="job-description">
                    <ul>
                        <li>Developed and delivered multiple key features for Payroll SaaS web applications using Angular, C#, and SQL.</li>
                        <li>Seamlessly converted legacy .NET aspx settings pages to Angular, maintaining automation and test coverage.</li>
                        <li>Lead performance spikes to improve product reliability and performance using Datadog, SolarWinds,and Splunk, reducing load times by as much as 90%.</li>
                        <li>Frontend and backend development for primary profit center of the company, crafting SOLID, clean, maintainable, and self-documenting features using Agile methodologies in a CI/CD SDLC environment with 95%+ test code coverage.</li>
                        <li>Crafted, tested, and delivered backend and frontend for full retirement catch up code product feature, relied upon by thousands of employees.</li>
                    </ul>
                </div>
            </div>
            <div class="experience-row">
                <h5 class="title">Engineer 2, Research & Development</h5>
                <div class="icon-and-dates">
                    <a href="https://www.jjvision.com/" target="_blank">
                        <img class="company-icon" src="images/icons/jnj.jfif" alt="Johnson & Johnson Vision"/></a>
                    <div class="company-text">
                        <h6 class="company-name" id="jnj">
                            <a href="https://www.jjvision.com/" target="_blank">Johnson & Johnson Vision</a>
                        </h6>
                        <p class="dates">May 2018 - November 2021 (3.52 Years)</p>
                        <p class="other-titles">Previous titles: Associate Engineer, Junior Engineer, Engineering Intern</p>
                    </div>
                </div>
                <div class="job-description">
                    <ul>
                        <li>
                            Integrated multiple MVVM applications under single package using .NET and C#.
                        </li>
                        <li>
                            Performed code reviews, wrote and performed software tests for R & D clinical lens inspection system in C#.
                        </li>
                        <li>
                            Developed, implemented, and tested machine vision inspection algorithms for Cognex Insight systems to ensure product quality standards.
                        </li>
                        <li>
                            Modeled, trained, and tested MATLAB machine learning algorithm for the detection of foreign matter within a sealed contact lens package.
                        </li>
                        <li>
                            Integrated C# thin client application for tracking of injection molding tooling to production system.
                        </li>
                        <li>
                            Leadership role in engineering and managing multiple $80K to $600K capital projects from funding
                            request through system validation in Medical Device sector.
                        </li>
                        <li>
                            Co-inventor of novel machine vision techniques for the inspection of contact lens packages (US &
                            international patents pending).
                        </li>
                        <li>
                            Implemented electromechanical and controls changes to improve daily production from 60,000 to over
                            120,000 parts while launching a state of the art R & D manufacturing line for new products.
                        </li>
                        <li>
                            Led international team to develop data collection and visualization systems using Tableau, SQL Server,
                            and FactoryTalk Historian.
                        </li>
                        <li>
                            Wrote and maintained internal filesystem tool for organizing large datasets using Python 3 with Tkinter UI.
                        </li>
                    </ul>
                </div>
            </div>
            <div class="experience-row">
                <h5 class="title">Engineering Technician I</h5>
                <div class="icon-and-dates">
                    <a href="https://www.androsysinc.com/" target="_blank">
                        <img class="company-icon" src="images/icons/andromeda-systems.jfif" alt="Andromeda Systems, Inc."/>
                    </a>
                    <div class="company-text">
                        <h6 class="company-name" id="andromeda-systems">
                            <a href="https://www.androsysinc.com/" target="_blank">
                                Andromeda Systems, Inc.
                            </a>
                        </h6>
                        <p class="dates">May 2017 - May 2018 (1.00 Years)</p>
                        <p class="other-titles">Previous titles: Electrical Engineering Intern</p>
                    </div>
                </div>
                <div class="job-description">
                    <ul>
                        <li>
                            Programmed and built multi-threaded automated data collection system using Python 3, Linux, Apache, MySQL, and PHP.
                        </li>
                        <li>
                            Developed REST API in Python 3
                        </li>
                        <li>
                            Designed frontend administrative console using HTML, CSS, and asynchronous JavaScript (jQuery/jQueryUI/ajax).
                        </li>
                        <li>
                            Engineered schematic for collection of MODBUS data with Raspberry Pi 3 / Raspberry Pi Zero systems.
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div id="resume-education" class="resume-section">
        <div class="resume-subsection">
            <h3>Education</h3>
            <div class="divider"></div>
            <div class="experience-row">
                <h5 class="title">Bachelor of Science, Electrical Engineering</h5>
                <div class="icon-and-dates">
                    <a href="https://www.unf.edu/" target="_blank">
                        <img class="company-icon" src="images/icons/unf.jfif" alt="University of North Florida" />
                    </a>
                    <div>
                        <h6 class="company-name" id="unf">
                            <a href="https://www.unf.edu/" target="_blank">University of North Florida</a>
                        </h6>
                        <p class="dates">Graduation: May 2019</p>
                    </div>
                </div>
                <div class="education-description">
                    <ul>
                        <li>President of UNF Institute of Electrical and Electronics Engineers (IEEE) Student Branch (2018-2019)</li>
                        <li>Captain of UNF IEEE Robotics Team (2017-2018)</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
<div class="resume-section">
    <div class="resume-subsection">
        <h3>Awards and Patents</h3>
        <div class="divider"></div>
        <div class="icon-and-dates">
            <a href="https://patents.google.com/patent/US20230065811A1" target="_blank">
                <img src="images/icons/patent-figure2.jpg" alt="Figure 2 from Patent Application" class="company-icon" />
            </a>
            
            <div>
                <h5 class="title">Quality control for sealed lens packages</h5>
                <h6 class="company-name">US Patent
                    <a href="https://patents.google.com/patent/US20230065811A1" target="_blank">US20230065811A1</a>
                    <a href="documents/US20230065811A1.pdf" target="_blank">PDF</a>
                </h6>
                <h6 class="company-name">EU Patent
                    <a href="https://patents.google.com/patent/EP4137803A2" target="_blank">EP4137803A2</a>
                    <a href="documents/EP4137803A2.pdf">PDF</a>
                </h6>
            </div>
        </div>
        
        <ul>
            <li>Co-inventor of novel system for inspecting sealed contact lens packages during high speed manufacturing process.</li>
            <li>Traditional computer vision model detects packages with missing or multiple lenses.</li>
            <li>Machine learning model detects presence of debris within sealed packages for quality control.</li>
        </ul>
    </div>
    </div>
</div>

@code {
    private double YearsOfExperience => Math.Round((DateTime.Today - DateTime.Parse("May 1, 2017")).TotalDays / 365, 2, MidpointRounding.AwayFromZero);
}
