@switch (uri)
    {
        case "resume":
        case "":
            <div>
                <a href="/documents/resume.pdf" download><i class="fa-solid fa-download"></i>Download Résumé PDF</a>
                <a href="https://www.github.com/matthew-opie" target="_blank"><i class="fa-brands fa-github"></i>GitHub</a>
                <a href="https://www.linkedin.com/in/matthew-opie/" target="_blank"><i class="fa-brands fa-linkedin"></i>LinkedIn</a>
                <a href="mailto:matt@mattopie.com"><i class="fa-solid fa-envelope"></i>Contact Me</a>
            </div>
            break;
        case "portfolio":
        case "pomodoro":
            <a href="/" target="_blank"><i class="fa-regular fa-compass"></i>mattopie.com</a>
            <a href="/pomodoro" target="_self"><i class="fa-solid fa-leaf"></i>Pomodoro Timer</a>
            break;
        default:
            <div>Invalid Uri</div>
            break;
    }

@code {
    [Parameter]
    public string? uri { get; set; }
}