@inherits LayoutComponentBase
@inject NavigationManager NavManager

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>
    <main>
        <div id="contextBar" class="top-row px-4">
            <ContextBar uri="@(NavManager.Uri.Substring(NavManager.BaseUri.Length))" />
        </div>
        <article class="content px-4">
            @Body
        </article>
    </main>
</div>

